.container{
    width: 100%;
    height: 200px;
    text-align: center;
}

.container img{
    width: 200px;
    margin: 10px;
}

.imgPointer{
    width: 400px;
    height: 300px;
    position: absolute;
}
.imgPointer img{
    width: 100%;
    height: 100%;
}